.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 10px;
  margin: auto;
  min-width: 300px;
}

.authorization, .registration {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}