@import './styles/reset.scss';
@import './styles/variables.scss';
@import './styles/style.scss';


#root {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  min-width: 320px;
  background-color: $bgColor;
  color: $fontColorDark;
}

.container {
  max-width: 1200px + 30px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}