$mobile: '640px';
$tablet: '960px';
$desktop: '1280px';

$primaryColor: #1A243A;
$mainColorLight: #FFFFFF;
$mainColorDark: black;

$fontColorLight: #4C4C4C;
$fontColorDark: #21252F;

$accentColor: #398A75;
$accentColorSecondary: #D88727;
$bgColor: #FFFFFF;
$bgColorDark: #1a4441;
$bgColorLight: #EAE7E7;

$borderColor: rgb(172, 169, 169);
