@import '../../../styles/variables.scss';

.tags {

  width: 25%;
  flex: 0 1 auto;

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

  }

  &__item {
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    background-color: $bgColorLight;
    margin-left: 5px;
    margin-bottom: 5px;
    width: fit-content;

    &:hover {
      background-color: $accentColorSecondary;
      color: $mainColorLight;
    }

  }

}