@import '../../styles/variables.scss';

.card {
  padding: 30px 10px;
  border-bottom: 1px solid $borderColor;

  display: flex;

  &__img {
    width: 40%;
    height: auto;
    max-height: 250px;
    overflow: hidden;

    margin-right: 20px;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
      object-fit: cover; 
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    display: block;
    padding: 10px 0;
    font-size: 24px;
    font-weight: 700;
    color: $fontColorDark;

    &:hover {
      color: $fontColorLight;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  &__date {
    font-size: 11px;
    color: $fontColorLight;
  }

  &__author {
    font-weight: 700;
  }

  &__tags {
    color: $accentColorSecondary;
  } 
}
